<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Generation ATG</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1> Algortihm PAGE </h1>

    <% articles.forEach(function(article, index) { %>
        <%- article.title.rendered %>

            <%   }) %>
</body>

</html>